.header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    box-shadow: 0 5px 20px rgba(black, .2);
  
    .logo-container {
      height: 60px;
      width: 60px;
      margin: 5px;
      margin-left: 30px;
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      
  
      .option {
        padding: 10px 15px;
      }
    }
  }
  